<div class="flex mt-28">
  <div class="flex flex-wrap">
    <div class="px-3 py-3" *ngFor="let item of items; index as i">
      <div class="w-56 h-auto px-3 py-3 border border-gray-200 rounded-md hover:bg-gray-200 hover:w-60 shadow-md" (click)="clickItem(i)">
        <a routerLink="/product">
          <img src="https://cdn.shopify.com/s/files/1/0113/4365/9108/products/01_0b78889b-b62c-45d8-a033-7bf4aaae8f33_600x.jpg?v=1603537849">
        </a>
        <p class="text-center font-mono text-base tracking-wide mt-3">{{item.name}}</p>
        <p class="text-center font-mono text-base opacity-70">{{item.price}} ฿</p>
       </div>
    </div>
  </div>
</div>