<div class="flex mt-8">
  <div class="flex flex-wrap">
    <div class="px-3 py-3" *ngFor="let item of products; index as i">
      <div class="w-56 h-auto px-3 py-3 bg-white rounded-xl shadow-xl hover:scale-105 transition-all transform duration-500 cursor-pointer" (click)="clickItem(i)">
        <a>
          <img src={{item.img}}>
        </a>
        <p class="text-center font-mono text-base tracking-wide mt-3">{{item.name}}</p>
        <p class="text-center font-mono text-base opacity-70">{{price(i)}} ฿</p>
       </div>
    </div>
  </div>
</div>