<nav class="bg-white border border-gray-200">
    <div class="max-w-7xl mx-auto">
      <div class="flex justify-between">
        <div class="flex space-x-6">
          <div class="cursor-pointer" routerLink="/collections/men">
            <a class="flex items-center py-5 px-5">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
              </svg>
              <span class="px-1 font-bold text-2xl">Clothes Shop</span>
            </a>
          </div>
        </div>
      </div>
    </div>
</nav>
