<div class="flex justify-center" *ngIf="user && userAddress">
    <div class="w-full px-3 flex flex-col md:w-3/4">
        <div class="w-full py-5">
            <span class="font-mono font-bold md:text-5xl text-3xl">PROFILE</span>
        </div>
        <div class="block flex-col border-t border-gray-400 space-y-7">
            <div class="block flex-col space-y-5" *ngIf="!isEditProfile">
                <div class="flex flex-col flex-wrap  pt-5">
                    <span class="font-mono font-bold text-2xl">EMAIL ADDRESS</span>
                    <span class="font-mono font-normal text-xl opacity-60">{{user.email}}</span>
                </div>
                <div class="flex justify-around">
                    <div class="flex flex-col flex-wrap w-1/2">
                        <span class="font-mono font-bold text-2xl">FIRST NAME</span>
                        <span class="font-mono font-normal text-xl opacity-60">{{user.firstName}}</span>
                    </div>
                    <div class="flex flex-col flex-wrap w-1/2">
                        <span class="font-mono font-bold text-2xl">LAST NAME</span>
                        <span class="font-mono font-normal text-xl opacity-60">{{user.lastName}}</span>
                    </div>
                </div>
                <div class="flex justify-around">
                    <div class="flex flex-col flex-wrap w-1/2">
                        <span class="font-mono font-bold text-2xl">PHONE NUMBER</span>
                        <span class="font-mono font-normal text-xl opacity-60">{{isNull(user.phoneNumber)}}</span>
                    </div>
                    <div class="flex flex-col flex-wrap w-1/2">
                        <span class="font-mono font-bold text-2xl">BIRTHDAY</span>
                        <span class="font-mono font-normal text-xl opacity-60">{{isNull(user.birthday)}}</span>
                    </div>
                </div>
            </div>
            <div class="block flex-col space-y-5" *ngIf="isEditProfile" [formGroup]="editProfileForm">
                <div class="flex flex-col flex-wrap  pt-5">
                    <span class="font-mono font-bold text-2xl">EMAIL ADDRESS</span>
                    <span class="font-mono font-normal text-xl opacity-60">{{user.email}}</span>
                </div>
                <div class="block md:flex justify-around">
                    <div class="flex flex-col flex-wrap w-full md:w-1/2">
                        <div class="flex">
                            <span class="font-mono font-bold text-2xl">FIRST NAME</span>
                            <div
                                *ngIf="editProfileForm.get('firstName').invalid && (editProfileForm.get('firstName').dirty || editProfileForm.get('firstName').touched)">
                                <span *ngIf="editProfileForm.get('firstName').errors?.required"
                                    class="font-mono text-base text-red-400 px-3">*First Name is required.</span>
                            </div>
                        </div>
                        <input formControlName="firstName" type="text" id="firstName"
                            class="w-full md:w-2/3 font-mono font-normal text-xl opacity-80 rounded-lg focus:ring-gray-800 focus-within:border-gray-800 border-2 border-gray-300"
                            placeholder={{user.firstName}}>
                    </div>
                    <div class="flex flex-col flex-wrap w-full md:w-1/2">
                        <div class="flex">
                            <span class="font-mono font-bold text-2xl">LAST NAME</span>
                            <div *ngIf="editProfileForm.get('lastName').touched">
                                <span *ngIf="editProfileForm.get('lastName').errors?.required"
                                    class="font-mono text-base text-red-400 px-3">*Last Name is required.</span>
                            </div>
                        </div>
                        <input formControlName="lastName" type="text"
                            class="w-full md:w-2/3 font-mono font-normal text-xl opacity-80 rounded-lg focus:ring-gray-800 focus-within:border-gray-800 border-2 border-gray-300"
                            placeholder={{user.lastName}}>
                    </div>
                </div>
                <div class="block md:flex justify-around">
                    <div class="flex flex-col flex-wrap w-full md:w-1/2">
                        <div class="flex">
                            <span class="font-mono font-bold text-2xl">PHONE NUMBER</span>
                            <div *ngIf="editProfileForm.get('phoneNumber').touched">
                                <span *ngIf="editProfileForm.get('phoneNumber').errors?.required"
                                    class="font-mono text-base text-red-400 px-3">*Phone Number is required.</span>
                                <span *ngIf="editProfileForm.get('phoneNumber').errors?.pattern"
                                    class="font-mono text-base text-red-400 px-3">*Enter only 10 numbers.</span>
                            </div>
                        </div>
                        <input formControlName="phoneNumber" type="tel" maxlength="10"
                            class="w-full md:w-2/3 font-mono font-normal text-xl opacity-80 rounded-lg focus:ring-gray-800 focus-within:border-gray-800 border-2 border-gray-300"
                            placeholder={{user.phoneNumber}}>
                    </div>
                    <div class="block md:flex flex-col flex-wrap w-full md:w-1/2">
                        <div class="flex">
                            <span class="font-mono font-bold text-2xl">BIRTHDAY</span>
                            <div *ngIf="editProfileForm.get('birthday').touched">
                                <span *ngIf="editProfileForm.get('birthday').errors?.required"
                                    class="font-mono text-base text-red-400 px-3">*Birthday is required.</span>
                            </div>
                        </div>
                        <input formControlName="birthday" type="date"
                            class="w-full md:w-2/3 font-mono font-normal text-xl opacity-80 rounded-lg focus:ring-gray-800 focus-within:border-gray-800 border-2 border-gray-300">
                    </div>
                </div>
            </div>
            <div class="pb-10" *ngIf="!isEditProfile">
                <button
                    class="w-full mt-5 rounded-lg md:w-1/4 font-mono ring-2 ring-gray-800 ring-inset text-black font-medium text-xl py-3 focus:outline-none"
                    (click)="editProfile()">EDIT
                    PROFILE</button>
            </div>
            <div class="pb-10 flex space-x-5" *ngIf="isEditProfile">
                <button
                    class="w-full mt-5 rounded-lg md:w-1/4 font-mono ring-2 bg-gray-800 ring-gray-800 ring-inset text-white font-medium text-xl py-3 focus:outline-none"
                    (click)="saveChange()">SAVE CHANGES</button>
                <button
                    class="w-full mt-5 rounded-lg md:w-1/4 font-mono ring-2 ring-gray-800 ring-inset text-black font-medium text-xl py-3 focus:outline-none"
                    (click)="cancel()">CANCEl</button>
            </div>
        </div>
        <div class="w-full py-5">
            <span class="font-mono font-bold md:text-5xl text-3xl">ADDRESS</span>
        </div>
        <div class="block flex-col border-t border-gray-400 space-y-7">
            <div class="block flex-col space-y-5">
                <div class="pt-5" *ngIf="isNoAddress && !isAddAddress">
                    <span class="font-mono font-normal text-xl opacity-60">There is no registered shipping
                        address.</span>
                </div>
                <div class="space-y-5" *ngIf="isAddAddress" [formGroup]="addAddressForm">
                    <div class="block md:flex justify-around pt-5">
                        <div class="flex flex-col flex-wrap w-full md:w-1/2">
                            <span class="font-mono font-bold text-2xl">FIRST NAME</span>
                            <input formControlName="firstName" type="text"
                                class="w-full md:w-2/3 font-mono font-normal text-xl opacity-80 rounded-lg focus:ring-gray-800 focus-within:border-gray-800 border-2 border-gray-300">
                        </div>
                        <div class="flex flex-col flex-wrap w-full md:w-1/2">
                            <span class="font-mono font-bold text-2xl">LAST NAME</span>
                            <input formControlName="lastName" type="text"
                                class="w-full md:w-2/3 font-mono font-normal text-xl opacity-80 rounded-lg focus:ring-gray-800 focus-within:border-gray-800 border-2 border-gray-300">
                        </div>
                    </div>
                    <div class="block md:flex justify-around">
                        <div class="flex flex-col flex-wrap w-full md:w-1/2">
                            <span class="font-mono font-bold text-2xl">ADDRESS DETAILS</span>
                            <input formControlName="addressDetails" type="text"
                                class="w-full md:w-2/3 font-mono font-normal text-xl opacity-80 rounded-lg focus:ring-gray-800 focus-within:border-gray-800 border-2 border-gray-300">
                        </div>
                        <div class="flex flex-col flex-wrap w-full md:w-1/2">
                            <span class="font-mono font-bold text-2xl">ZIP CODE</span>
                            <div class="flex relative">
                                <input formControlName="zipcode" type="text"
                                    class="w-full md:w-2/3 font-mono font-normal text-xl opacity-80 rounded-lg focus:ring-gray-800 focus-within:border-gray-800 border-2 border-gray-300 pr-10"
                                    placeholder="Enter zip code.">
                                <div class="absolute inset-y-0 right-40 flex items-center rounded-lg">
                                    <button class="p-3 h-full focus:ring-0 focus:outline-none" (click)="getAddress()">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 opacity-50" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block md:flex justify-around" *ngIf="!address">
                        <div class="flex flex-col flex-wrap w-full md:w-1/2">
                            <span class="font-mono font-bold text-2xl">DISTRICT</span>
                            <select disabled
                                class="w-full md:w-2/3 border-2 focus:ring-0 focus:border-gray-300 border-gray-300 rounded-lg text-gray-600 py-3 pl-5 pr-10 bg-white focus:outline-none appearance-none">
                                <option>Please enter zip code.</option>
                            </select>
                        </div>
                        <div class="flex flex-col flex-wrap w-full md:w-1/2">
                            <span class="font-mono font-bold text-2xl">AMPHOE</span>
                            <select disabled
                                class="w-full md:w-2/3 border-2 focus:ring-0 focus:border-gray-300 border-gray-300 rounded-lg text-gray-600 py-3 pl-5 pr-10 bg-white focus:outline-none appearance-none">
                                <option>Please enter zip code.</option>
                            </select>
                        </div>
                    </div>
                    <div class="block md:flex justify-around" *ngIf="address">
                        <div class="flex flex-col flex-wrap w-full md:w-1/2">
                            <span class="font-mono font-bold text-2xl">DISTRICT</span>
                            <select formControlName="district"
                                class="w-full md:w-2/3 border-2 focus:ring-0 focus:border-gray-300 border-gray-300 rounded-lg text-gray-600 py-3 pl-5 pr-10 bg-white focus:outline-none appearance-none">
                                <option *ngFor="let item of address;" [value]="item.district">{{item.district}}</option>
                            </select>
                        </div>
                        <div class="flex flex-col flex-wrap w-full md:w-1/2">
                            <span class="font-mono font-bold text-2xl">AMPHOE</span>
                            <select formControlName="amphoe"
                                class="w-full md:w-2/3 border-2 focus:ring-0 focus:border-gray-300 border-gray-300 rounded-lg text-gray-600 py-3 pl-5 pr-10 bg-white focus:outline-none appearance-none">
                                <option *ngFor="let item of amphoe; index as i," [value]="item">{{item}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="flex flex-col flex-wrap w-full md:w-1/2">
                        <div class="flex flex-col flex-wrap w-full">
                            <div class="flex">
                                <span class="font-mono font-bold text-2xl">PHONE NUMBER</span>
                                <div *ngIf="editProfileForm.get('phoneNumber').touched">
                                    <span *ngIf="editProfileForm.get('phoneNumber').errors?.required"
                                        class="font-mono text-base text-red-400 px-3">*Phone Number is required.</span>
                                    <span *ngIf="editProfileForm.get('phoneNumber').errors?.pattern"
                                        class="font-mono text-base text-red-400 px-3">*Enter only 10 numbers.</span>
                                </div>
                            </div>
                            <input formControlName="phoneNumber" type="tel" maxlength="10"
                                class="w-full md:w-2/3 font-mono font-normal text-xl opacity-80 rounded-lg focus:ring-gray-800 focus-within:border-gray-800 border-2 border-gray-300">
                        </div>
                    </div>
                </div>
                <div class="" *ngIf="!isAddAddress && !isNoAddress">
                    <div class="flex flex-col flex-wrap py-5" *ngFor="let item of userAddress; index as i">
                        <div class="flex flex-wrap justify-between">
                            <span class="font-mono font-bold text-2xl">{{item.firstName}} {{item.lastName}} : {{item.phoneNumber}}
                                ({{i+1}})</span>
                            <button class="outline-none hover:outline-none focus:outline-none focus:ring-0:" (click)="deleteUserAddress(i)">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 opacity-60" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </div>
                        <span
                            class="font-mono font-normal text-xl opacity-60">{{item.detail}} {{item.address.district}} {{item.address.amphoe}} {{item.address.province}} {{item.address.zipcode}}</span>
                    </div>
                </div>
            </div>
            <div class="pb-5" *ngIf="!isAddAddress">
                <button
                    class="w-full md:w-1/4 rounded-lg font-mono ring-2 ring-gray-800 ring-inset text-black font-medium text-xl py-3 focus:outline-none px-3"
                    (click)="openFormAddress()">ADD ADDRESS</button>
            </div>
            <div class="pb-5 flex space-x-5" *ngIf="isAddAddress">
                <button
                    class="w-full rounded-lg md:w-1/4 font-mono ring-2 bg-gray-800 ring-gray-800 ring-inset text-white font-medium text-xl py-3 focus:outline-none"
                    (click)="addAddress()">ADD ADDRESS</button>
                <button
                    class="w-full rounded-lg md:w-1/4 font-mono ring-2 ring-gray-800 ring-inset text-black font-medium text-xl py-3 focus:outline-none"
                    (click)="cancelFormAddress()">CANCEl</button>
            </div>
        </div>
    </div>
</div>