<nav class="bg-white border border-gray-200">
  <div class="max-w-7xl mx-auto">
    <div class="flex justify-between">
      <div class="flex space-x-6">
        <div class="">
          <a class="flex items-center py-5 px-5" routerLink="/admin/product">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
            </svg>
            <span class="px-1 font-bold text-2xl">Clothes Shop Admin</span>
          </a>
        </div>
      </div>
      <div class="flex items-center space-x-1 relative pr-6">
        <a routerLink="/account/cart" class="hidden md:flex px-6">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
          </svg>
        </a>
        <button type="button" class="hidden md:flex focus:outline-none" id="menu-button">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
          </svg>
        </button>
        <button class="md:hidden focus:outline-none" (click)="toggleMenu()">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
    </div>

    <!-- drop down nav menu -->
    <div class="md:hidden absolute bg-white w-screen border-b border-gray-200" *ngIf="onClickMenu">
        <a routerLink="/admin/product" class="block px-7 py-2 hover:bg-gray-100 font-medium">Home</a>
        <a routerLink="/admin/order" class="block px-7 py-2 hover:bg-gray-100 font-medium">Order</a>
        <a href="#" class="block px-7 py-2 hover:bg-gray-100 font-medium">Logout</a>
    </div>
  </div>
</nav>
