<div class="block mt-8 md:flex justify-center">
    <div class="flex justify-center md:w-4/6 w-full">
        <div class="w-full">
            <div class="px-3 md:px-10" *ngFor="let item of items; index as i, last as isLast">
                <!-- item in cart -->
                <div class="flex py-5" [ngClass]="!isLast ? 'border-b border-gray-400' : ''">
                    <div class="flex-shrink-0">
                        <img class="rounded-lg md:w-40 w-28"
                            src="https://cdn.shopify.com/s/files/1/0113/4365/9108/products/01_0b78889b-b62c-45d8-a033-7bf4aaae8f33_600x.jpg?v=1603537849">
                    </div>
                    <div class="block pl-5 w-full md:space-y-5">
                        <div class="flex justify-between"> 
                            <p class="text-2xl md:text-4xl font-bold font-mono">{{item.name}}</p>
                            <div>
                                <button class="outline-none hover:outline-none focus:outline-none focus:ring-0:">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 opacity-60" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                      </svg>
                                </button>
                            </div>
                        </div>
                        <div class="text-lg md:text-xl font-mono font-light subpixel-antialiased leading-relaxed opacity-60">รหัสสินค้า: 433031</div>
                        <div class="text-lg md:text-xl font-mono font-light subpixel-antialiased leading-relaxed opacity-60">SIZE: XXL</div>
                        <div class="block md:flex md:justify-between content-center">
                            <div class="flex flex-shrink-0 w-36 bg-white rounded-lg shadow-lg border-2 border-gray-300 divide-x-2 divide-gray-300">
                               <div class="px-4 py-3 hover:cursor-pointer" (click)="dec(i)">
                                  <p class="font-medium font-mono text-xl">-</p>
                               </div>
                               <div class="py-3 px-2">
                                  <input numbersOnly class="w-10 outline-none focus:outline-none text-center font-medium font-mono text-xl" [(ngModel)]="item.amount" (input)="amountChange($event, i)">
                               </div>
                               <div class="px-4 py-3 hover:cursor-pointer" (click)="inc(i)">
                                  <p class="font-medium font-mono text-xl">+</p>
                               </div>
                            </div>
                            <div class="flex flex-wrap content-center">
                                <span class="text-lg md:text-xl font-mono font-light subpixel-antialiased leading-relaxed opacity-80">ยอดรวม</span>
                                <span class="text-lg md:text-xl font-mono font-light subpixel-antialiased leading-relaxed opacity-50">: {{price(i, item.price)}} ฿</span>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md:w-2/6 w-full px-3">
        <div class="flex flex-col bg-white shadow-lg w-full h-48 rounded-lg mt-5 border-2 border-gray-700">
            <a class="px-5 py-8 text-2xl font-semibold font-mono opacity-60">สรุปคําสั่งซื้อ {{totalAmount()}} รายการ</a>
            <a class="px-5 text-3xl font-bold font-mono">ราคารวมทั้วหมด {{totalPrice()}} ฿</a>
        </div>
        <div>
            <div class="mt-8 flex flex-wrap gap-2">
                <button class="w-full font-mono bg-gray-800 text-white font-medium text-xl py-3">CHECKOUT</button>
                <button class="w-full font-mono font-medium text-xl ring-2 ring-gray-800 ring-inset py-3">CONTINUE SHOPPING</button>
             </div>
        </div>
    </div>
</div>